<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBv_B4aQEa3IYcTc9IAqd4TkftyrBeyx68</string>
	<key>GCM_SENDER_ID</key>
	<string>1020660061948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appnoithat</string>
	<key>PROJECT_ID</key>
	<string>appnoithat-d8010</string>
	<key>STORAGE_BUCKET</key>
	<string>appnoithat-d8010.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020660061948:ios:8de048aeb120af6cdda979</string>
	<key>DATABASE_URL</key>
	<string>https://appnoithat-d8010-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>